html {
    scroll-behavior: smooth; 
  }
  .header {background-color: #6b7e9d;}
body {font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #412d2d;
    display: flex;
    flex-direction: column;
    }
    img {border: 3px solid #4f4c87;}
    .nav-list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
      }
      .nav-link {
        padding: 0 20px;
        line-height: 50px;
        color: aliceblue;
        text-decoration: none;
        font-size: 20px;
      }
      .main-container {
        display: flex;
        flex-wrap: wrap;
      }
      .section {
        width: 50%;
        font-size: 20px;
      }
      .section-title {
        font-size: 30px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: #756691;
      }
      @media (max-width: 768px) {
        .section {
          width: 100%;
        }
      }
      .link {
        text-decoration: none;
        color: #829985;
        transition: color 0.5s;
      }
      
      .link:hover {
        color: #5d7260;
      }
      .footer {background-color: #6b7e9d;}