html {
    scroll-behavior: smooth; 
  }
  .header {background-color: #6b7e9d;}
body {font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    display: flex;
    flex-direction: column;
    }
    .picture { border-radius: 300px;
        border: 3px solid #ffffff;}
    .nav-list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
      }
      .nav-link {
        padding: 0 20px;
        line-height: 50px;
        color: aliceblue;
        text-decoration: none;
        font-size: 20px;
      }
      .main-container {
        display: flex;
        flex-wrap: wrap;
      }
      .section {
        width: 50%;
        font-size: 20px;
        border-bottom: 1px solid #554b68;
      }
      .section-title {
        font-size: 30px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: #554b68;
      }
      @media (max-width: 768px) {
        .section {
          width: 100%;
        }
      }
      .footer {background-color: #6b7e9d;
      color: aliceblue;
    display: flex;
    flex-direction: row;
    text-align: justify;
    justify-content: center;
}
      .links {text-decoration: none;
        color: aliceblue;}
        .photoname {margin-left: auto;
            margin-right: auto;}
        .information {border: 6px solid #554b68;
            background-color: #40578480;
        display: flex;
    flex-wrap: wrap;
 margin-left: auto;
 margin-right: auto;}
    .linkco {color: #000000;
    text-decoration: none;}